.sty{
    background-position: center;
    background-image: url('https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,f_jpg,h_760,q_75,w_1900/v1/clients/wichita-redesign/Visit_Wichita_Kansas_Wichita_Art_Museum_ab2f81d5-0500-4ccd-af3a-20835143dc89.jpg');
    /* background: linear-gradient(0deg,rgb(3, 55, 63),rgb(135, 9, 152)); */
    height: 350px;
}

.sty2{background-color: rgba(0, 0, 0, 0.75)}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.my{
  font-family: 'Montserrat', sans-serif;

}